MVC_entrega_2/Connected Services/ServicioDeArchivos/ServicioDeArchivos.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCF" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCF" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfSolicitanteDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SolicitanteDTO" nillable="true" type="tns:SolicitanteDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSolicitanteDTO" nillable="true" type="tns:ArrayOfSolicitanteDTO" />
  <xs:complexType name="SolicitanteDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Apellido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Celular" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ci" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaNacimiento" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Rol" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SolicitanteDTO" nillable="true" type="tns:SolicitanteDTO" />
  <xs:complexType name="ArrayOfProyectoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProyectoDTO" nillable="true" type="tns:ProyectoDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProyectoDTO" nillable="true" type="tns:ArrayOfProyectoDTO" />
  <xs:complexType name="ProyectoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="CantIntegrantes" type="xs:int" />
      <xs:element minOccurs="0" name="CuotasAPagar" type="xs:int" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExpertisSolicitante" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaPresentacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Imagen" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Monto" type="xs:double" />
      <xs:element minOccurs="0" name="MontoCuotaIntInc" type="xs:double" />
      <xs:element minOccurs="0" name="MontoCuotaSinInt" type="xs:double" />
      <xs:element minOccurs="0" name="MontoTotalConIntereses" type="xs:double" />
      <xs:element minOccurs="0" name="SaldoRestanteFinanciar" type="xs:double" />
      <xs:element minOccurs="0" name="Solicitante" nillable="true" type="tns:SolicitanteDTO" />
      <xs:element minOccurs="0" name="SolicitanteId" type="xs:int" />
      <xs:element minOccurs="0" name="TasaInteresSegunCuota" type="xs:double" />
      <xs:element minOccurs="0" name="Tipo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Titulo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProyectoDTO" nillable="true" type="tns:ProyectoDTO" />
</xs:schema>