MVC_entrega_2/Connected Services/ServicioDeArchivos/ServicioDeArchivos.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServicioDeArchivos" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:64442/ServicioDeArchivos.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:64442/ServicioDeArchivos.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:64442/ServicioDeArchivos.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCF" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServicioDeArchivos_cargarUsuarios_InputMessage">
    <wsdl:part name="parameters" element="tns:cargarUsuarios" />
  </wsdl:message>
  <wsdl:message name="IServicioDeArchivos_cargarUsuarios_OutputMessage">
    <wsdl:part name="parameters" element="tns:cargarUsuariosResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioDeArchivos_FindAllSolicitantes_InputMessage">
    <wsdl:part name="parameters" element="tns:FindAllSolicitantes" />
  </wsdl:message>
  <wsdl:message name="IServicioDeArchivos_FindAllSolicitantes_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindAllSolicitantesResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioDeArchivos_FindAllProyectos_InputMessage">
    <wsdl:part name="parameters" element="tns:FindAllProyectos" />
  </wsdl:message>
  <wsdl:message name="IServicioDeArchivos_FindAllProyectos_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindAllProyectosResponse" />
  </wsdl:message>
  <wsdl:portType name="IServicioDeArchivos">
    <wsdl:operation name="cargarUsuarios">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioDeArchivos/cargarUsuarios" message="tns:IServicioDeArchivos_cargarUsuarios_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioDeArchivos/cargarUsuariosResponse" message="tns:IServicioDeArchivos_cargarUsuarios_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindAllSolicitantes">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioDeArchivos/FindAllSolicitantes" message="tns:IServicioDeArchivos_FindAllSolicitantes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioDeArchivos/FindAllSolicitantesResponse" message="tns:IServicioDeArchivos_FindAllSolicitantes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindAllProyectos">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioDeArchivos/FindAllProyectos" message="tns:IServicioDeArchivos_FindAllProyectos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioDeArchivos/FindAllProyectosResponse" message="tns:IServicioDeArchivos_FindAllProyectos_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServicioDeArchivos" type="tns:IServicioDeArchivos">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="cargarUsuarios">
      <soap:operation soapAction="http://tempuri.org/IServicioDeArchivos/cargarUsuarios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindAllSolicitantes">
      <soap:operation soapAction="http://tempuri.org/IServicioDeArchivos/FindAllSolicitantes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindAllProyectos">
      <soap:operation soapAction="http://tempuri.org/IServicioDeArchivos/FindAllProyectos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioDeArchivos">
    <wsdl:port name="BasicHttpBinding_IServicioDeArchivos" binding="tns:BasicHttpBinding_IServicioDeArchivos">
      <soap:address location="http://localhost:64442/ServicioDeArchivos.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>