MVC_entrega_2/Connected Services/ServicioDeArchivos/ServicioDeArchivos2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:64442/ServicioDeArchivos.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCF" />
  <xs:element name="cargarUsuarios">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="archivo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tipo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="cargarUsuariosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cargarUsuariosResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAllSolicitantes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAllSolicitantesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCF" minOccurs="0" name="FindAllSolicitantesResult" nillable="true" type="q1:ArrayOfSolicitanteDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAllProyectos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAllProyectosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCF" minOccurs="0" name="FindAllProyectosResult" nillable="true" type="q2:ArrayOfProyectoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>